<h3>Want more information?</h3>

<p>The <a href="https://electology.org">Center for Election Science</a> is a great resource. They have enough content to last you for weeks.</p> <p>Here are some links to get you started:</p>

<ul style="list-style: none">
  <li><a href="https://electology.org/blog/top-5-ways-plurality-voting-fails">The top 5 problems with Plurality Voting</a></li>
  <li><a href="https://electology.org/approval-voting">How Approval Voting works</a></li>
  <li><a href="https://electology.org/approval-voting-versus-irv">What about Ranked Choice Voting (RCV aka IRV)?</a></li>
  <li><a href="https://electology.org/expressiveness-approval-vs-ranked-ballots">What if I want to differentiate my first vs. second choice?</a></li>
</ul>

<p class="footer-timestamp">
  Page last updated on {{ site.time | date: '%D' }}
</p>
