<h3>Want more information?</h3>

<p>The <a target="_blank" href="https://electology.org/library">Center for Election Science</a> is a great resource.</p>

<p><a href="/rcv/">What about Ranked Choice Voting (RCV)?</a></p>
<p><a href="/contact-your-legislators/">How to Help bring Approval Voting to Colorado</a></p>
<p><a target="_blank" href="http://av4co.org">Approval Voting for Colorado (AV4CO)</a> is the group that initiated this movement in Colorado.</p>

<p class="footer-timestamp">
  Page last updated on {{ site.time | date: '%D' }}
</p>
