---
---

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #444;
}

.not-footer {
    flex: 1;
}

@media only screen and (min-width : 480px) {
    html, body {
        font-size: 1.1em;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}


small {
    color: #888;
}

.header {
    margin-bottom: 30px;

    img {
        display: block;
        margin: 60px auto;
        max-height: 150px;
    }
}

.title {
    font-size: 6px;
    color: #001857;
    position: absolute;
    top:0;
    left:0;
    padding: 0;
    margin: 0;
}


.yellow-gradient {
    background: rgba(255,253,240,1);
    background: -moz-linear-gradient(top, rgba(255,253,240,1) 0%, rgba(255,250,227,1) 50%, rgba(255,253,240,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,253,240,1)), color-stop(50%, rgba(255,250,227,1)), color-stop(100%, rgba(255,253,240,1)));
    background: -webkit-linear-gradient(top, rgba(255,253,240,1) 0%, rgba(255,250,227,1) 50%, rgba(255,253,240,1) 100%);
    background: -o-linear-gradient(top, rgba(255,253,240,1) 0%, rgba(255,250,227,1) 50%, rgba(255,253,240,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,253,240,1) 0%, rgba(255,250,227,1) 50%, rgba(255,253,240,1) 100%);
    background: linear-gradient(to bottom, rgba(255,253,240,1) 0%, rgba(255,250,227,1) 50%, rgba(255,253,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf0', endColorstr='#fffdf0', GradientType=0 );
}

.cobluebg {
    background-color: #102e82;
    color: white;
}

.intro {
    font-size: 1.3em;
    margin: 20px 0;
    text-align: center;
}

.split-col p {
    padding: 20px;
    border: 1px solid #e8dd99;
}

.main-container {
    margin-bottom: 40px;
    h2 {
        text-align: center;
        margin: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #e8dd99;
    }

    p {
        margin-bottom: 40px;
    }

    .card ul {
        margin-bottom: 40px;
    }
}




.card {
    background-color: #fffef7;
    border: 1px solid #e8dd99;
    padding: 0 20px 10px;
    margin-bottom: 20px;

    h3 {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e8dd99;
        text-align: center;
    }

    .btn {
        margin-bottom: 40px;
    }
}




.howcanihelp {
    margin-bottom: 40px;
    text-align: center;
}

.giant-icon {
    font-size: 3em;
    display: inline-block;
    margin: 0 5px 20px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.footer {
    color: rgba(255,255,255,0.5);
    padding: 20px 0 40px;
    a {
        color: rgba(255,255,255,0.6);
        text-decoration: underline;
    }
}

.footer-timestamp {
    font-size: 0.8em;
    color: rgba(255,255,255,0.3);
    margin-bottom: 0;
    margin-top: 20px;
}



.tab-content .panel {
    padding: 20px;
}

.official {
    .image-column img {
        margin: 40px 0;
    }
}
